urls = '~images/1.' '~images/2.' '.~images/5.' '~images/6.' '~images/7.' '~images/8.'
font-counts = 12 12 13 13 11 12
pos = ((top rem(28)) (left rem(346)) (width rem(90)) (height rem(90))) \
((top rem(100)) (left rem(244)) (width rem(205)) (height rem(109))) \
((top rem(150)) (left rem(216)) (width rem(32)) (height rem(33))) \
((top rem(130)) (left rem(150)) (width rem(72)) (height rem(54))) \
((top rem(120)) (left rem(260)) (width rem(109)) (height rem(5))) \
((top rem(24)) (left rem(134)) (width rem(87)) (height rem(59)))

for _pos, i in pos
  .page-wrapper
    .pages:nth-of-type({i+1})
      .page-image
        .moving-item
          width: get(_pos, width)
          height: get(_pos, height)
          top: get(_pos, top)
          left: get(_pos, left)

for url, row in urls
  .page-wrapper
    .pages:nth-of-type({row+1})
      .page-image
        bg-image(url + '1')
        .moving-item
          bg-image(url + '2')

for counts, row in font-counts
  .page-wrapper
    .pages:nth-of-type({row+1})
      .page-content
        width: counts * rem(48)

.page-wrapper
  .pages:nth-of-type(6)
    .page-content
      p
        line-height: rem(80);
  .pages:nth-of-type(5)
    .page-content
      margin-top: rem(150)
  .pages:nth-of-type(4)
    .page-content
      margin-top: rem(150)
  .pages:nth-of-type(3)
    .page-content
      margin-top: rem(150)

