@import 'common/stylus/variable'
@import 'common/stylus/mixin'

.dfw
  .title
    color: $color-dfw
  .board-top
    background-color: $color-dfw
    ul
      li
        color: $color-dfw
  .board-bottom
    .value
      color: $color-dfw
  .share
    .share-button
      bg-image('../images/share-dfw')
      background-size contain