@import "variable.styl"
@font-face
  font-family: "zhanghai"
  src: url("~common/fonts/zhanghai.ttf")
  src : url('~common/fonts/zhanghai.eot?#font-spider') format('embedded-opentype'),
          url('~common/fonts/zhanghai.woff') format('woff'),
          url('~common/fonts/zhanghai.ttf') format('truetype'),
          url('~common/fonts/zhanghai.svg') format('svg');

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  height: 100%
  width: 100%