
@font-face {font-family: "icon";
  src: url('../fonts/iconfont.eot?t=1521338760055'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1521338760055#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/iconfont.woff?t=1521338760055') format('woff'),
          url('../fonts/iconfont.ttf?t=1521338760055') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('../fonts/iconfont.svg?t=1521338760055#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"icon" !important;
  font-size:32px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before { content: "\e600"; }

.icon-success:before { content: "\e6d8"; }