@media all and (min-width: 412px) and (max-height: 732px) and (max-height: 730px),
all and (min-width: 360px) and (max-width: 385px) and (max-height: 590px) {
  body {
    .media {
      .login {
        .pic {
          margin-top: rem(110);
        }
        .form {
          margin-top: rem(100);
          .input-group {
            height: rem(87);
          }
          .button {
            margin-top: rem(100);
          }
        }
        .copyright {
          bottom: rem(43);
        }
      }
      // cards 页面
      .page-wrapper {
        .pages {
          &:nth-of-type(1) {
            .page-content {
              margin-top: rem(100);
            }
          }
          &:nth-of-type(2) {
            .page-content {
              margin-top: rem(150);
            }
          }
          &:nth-of-type(3) {
            .page-content {
              margin-top: rem(80);
              p {
                  margin-bottom: rem(50);
              }
            }
          }
          &:nth-of-type(4) {
            .page-content {
              margin-top: rem(80);
              p {
                  margin-bottom: rem(50);
              }
            }
          }
          &:nth-of-type(5) {
            .page-content {
              margin-top: rem(100);
              p {
                  margin-bottom: rem(60);
              }
            }
          }
          &:nth-of-type(6) {
            .page-content {
              margin-top: rem(150);
            }
          }
          &:nth-of-type(7) {
            .title {
              font-dpr(130px);
            }
            .board-top {
              .sub-title {
                font-dpr(50px);
              }
              figure {
                ul {
                  li {
                    .name {
                      font-dpr(32px);
                    }
                    .score {
                      font-dpr(32px);
                    }
                  }
                }
              }
            }

            .board-bottom {
              .block-1 {
                margin-top: rem(40);
                div {
                  h4 {
                    font-dpr(42px);
                  }
                  p {
                    font-dpr(50px);
                  }
                }
              }
              .block-2 {
                margin-top: rem(40);
                .text {
                  font-dpr(50px);
                  .value {
                    font-dpr(68px);
                  }
                }  
              }
            }
            .share {
              margin-top: rem(50);
            }
          }
        }
      }
    }

    
  }
}