// 颜色定义规范
$color-background = #fff
$color-text = #404041
$color-placeholder = #cdcdcd
$color-sub-title = #073151
$color-text-data = #4fb2ff
$color-dfw = rgb(249, 160, 156)
$color-xxs = rgb(125, 139, 141)
$color-lfw = rgb(147, 211, 184)
$color-xz = rgb(136, 202, 280)
// 字体大小
$font-text = 48px
$font-text-data = 60px